html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------End of CSS reset----------------------------------------------*/

html{
  background-image: url('https://www.usa.philips.com/c-dam/b2bhc/master/Products/Category/magnetic-resonance/mr-therapy/mr-therapy-HC781439.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}




.fa-bars {
  font-size: 30px;
  padding: 1em;
  color:black;
  cursor: pointer;
}

.fa-bars:hover{
color: #575757;
}



/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width:0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #393D52;
  /* Black fallback color */
  /*background-color: rgba(0, 0, 0, 0.9);*/
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}




/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 5%;
  /* 25% from the top */
  width:100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
   margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
  padding: .5em;
  
}

/* The navigation links inside the overlay */
.overlay a, p {
  padding: 2px;
  text-decoration: none;
  font-size: 25px;
  color: #a7a6a6;
  display: block;
  margin: .3em;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}



/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 0;
  left: 23px;
  font-size: 60px;
}

.medtronic-pacer, .loop-record, .pain-stim, .bio-pace, .bio-loop, .pace-abbott, .boston-pace,.dbs{
  border-bottom: 1px solid white;
}



h1{
  font-size: 27px;
  color: white;
  text-decoration: underline;
  margin: .5em;
  
}

.phone{
  font-size: 18px;
}


 p:hover{
  color: white;
 }

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 6em;
  
  }

input{
  padding: .7em;
  width: 210px;
  text-align: center;
  border: 1.5px solid #8F97B5;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  outline: none;
  font-size:.8em;
  border-right: none;
  }

  input:focus{
    background-color: lightblue;
    border: 1px solid blue;
  }



.search-btn{
  background-color: blue;
  color: white;
  border: 1.5px solid #8F97B5;
  padding: .7em;
  font-size:.8em;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-left: none;
}

  .search-btn:hover{
    background-color: rgb(34, 34, 178);
  }



.not-case{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin-top: 1em;
 font-size:20px;
 position: relative;
 top: 4em;
}








/*----------------------------------------media queries------------------------------------*/

/* For slide out menu*/
@media screen and (max-width: 700px) {
  .overlay a {
    font-size: 20px
    }



  .overlay .closebtn {
    font-size: 40px;
    top: 25px;
    right: 35px;
  }


}

@media screen and (min-width: 700px){

 

  input{
  padding: .7em;
  font-size: 17px;
  width: 300px;
  text-align: center;
  border: 1.5px solid #8F97B5;
  outline: none;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border-right: none;
  
  }

  .search-btn{
  background-color: blue;
  color: white;
  border: 1.5px solid #8F97B5;
  font-size: 17px;
  padding: .7em;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-left: none;
}
}



   @media screen and (min-width: 1200px ) {
.fa-bars {
  font-size: 40px;
  padding: 1em;
  color:black;
  cursor: pointer;
 }

 .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 4em;
  
  }



   input{
  padding: .7em;
  font-size: 23px;
  width: 400px;
  text-align: center;
  border: 1.5px solid #8F97B5;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  outline: none;
  border-right: none;
  
  }

  .search-btn{
  background-color: blue;
  color: white;
  border: 1.5px solid #8F97B5;
  font-size: 23px;
  padding: .7em;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-left: none;
}

 

.not-case{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin-top: 1em;
 font-size:25px;
 position: relative;
 top: 2em;
}

}

   @media screen and (min-width: 1600px ) {
    .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 8em;
  
  }

  .not-case{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin-top: 1em;
 font-size:25px;
 position: relative;
 top: 5em;
}
}