/* ==========================================================================
   Reset
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* ==========================================================================
   General
   ========================================================================== */
html {
  height: 99%; /* not 100% because empty page in IE */ 
  }

body {
  height: 99%; /* not 100% because empty page in IE */
  overflow-y: scroll;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  color: #000;
  margin: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.clearfix {
  display: block; }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.hidden-medium-up {
  display: none; }
  
a {
  color: #000;
  text-decoration: none; }


/* ==========================================================================
   Sections setup
   ========================================================================== */
#main-wrap {
  height: 100%;
  min-height: 700px; }

.container {
  position: relative;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px 15px; }

.section {
  display: none;
  position: relative !important;
  left: 0;
  text-align: center; }
  .section.condensed, .section.expanded {
    min-height: 90px; }




/* ==========================================================================
   Errors
   ========================================================================== */
.input-wrap.error input[type="text"] {
  border: 2px solid #ed1c24; }

.input-wrap.error .conditional {
  display: block; }

.conditional {
  display: none;
  position: absolute;
  background: url(/spring/javax.faces.resource/images/bio_sprite.png?ln=default&v=3_0); }
  .conditional.true {
    display: block;
    width: 36px;
    height: 32px;
    top: 12px;
    right: 12px;
    background-position: -43px -43px; }
  .conditional.false {
    display: block;
    width: 32px;
    height: 32px;
    top: 12px;
    right: 12px;
    background-position: -100px -43px; }

.error-message {
  display: none;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 0 20px;
  bottom: 0px;
  left: 0; }
  .error-message .reason {
    color: #ed1c24; }
  .error-message .warning {
    color: #898989;
    font-size: 0.75em;
    line-height: 1.6em;
    display: block;
    margin-top: 12px; }

.section.error {
  height: auto !important; }
  .section.error .error-message {
    display: block; }
  .section.error .report {
    display: block; }
  .section.error .question-wrap {
    height: 100%; }

.section.expanded.error .toggle-btn {
  display: none; }

.section.initial.error .question-wrap {
  position: relative; }
.section.initial.error .toggle-btn {
  display: none; }

#main-wrap.error #section4 {
  display: block; }
#main-wrap.error #firstConditionalRow, #main-wrap.error #conditionalRepeat\:1\:conditionalRow, #main-wrap.error #conditionalRepeat\:2\:conditionalRow, #main-wrap.error #conditionalRepeat\:3\:conditionalRow, #main-wrap.error #conditionalRepeat\:4\:conditionalRow, #main-wrap.error #conditionalRepeat\:5\:conditionalRow, #main-wrap.error .result-data, #main-wrap.error .divider, #main-wrap.error #footnote {
  display: none; }
#main-wrap.error01 #section2, #main-wrap.error01 #section3 {
  display: none !important; }
#main-wrap.error01 #section4 {
  border-top: none !important; }
#main-wrap.error02 #section2:after {
  content: '';
  width: 68px;
  height: 18px;
  background-image: url(/spring/javax.faces.resource/images/bio_retina_sprite.png?ln=default&v=3_0);
  background-position: -6px -132px;
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-left: -34px;
  border: none;
  background-color: #fff; }
#main-wrap.error02 #section3 {
  display: none !important; }
#main-wrap.error02 #section4 {
  border-top: 1px solid #dbdbdb; }
#main-wrap.error03 #section4 {
  display: block; }

/* ==========================================================================
   Header
   ========================================================================== */
#header {
  margin-top: 20px;
  width: 100%;
  height: 80px;
  background: #fff; }

#biotronik-logo img{
  width: 190px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 20px;
}

/* ==========================================================================
   cookie law
   ========================================================================== */
.eupopup-container {
	display: none;
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	display: none;
}

.eupopup-closebutton {
	display: none;
}
.eupopup-closebutton:active {
	display: none;
}

.eupopup-head {
	display: none:
}

.eupopup-body {
	display: none;
}

.eupopup-buttons {
	display: none;
}

.eupopup-body {
	display: none;
}

.eupopup-buttons {
	display: none;
}

.eupopup-button_1 {
	display: none;
}

.eupopup-button_2 {
	display: none;
}

.eupopup-button {
	display: none;
}

.eupopup-button:focus {
	display: none;
}

body .eupopup-color-inverse {
	display: none;
}

body .eupopup-color-inverse .eupopup-head {
	display: none;
}

.euClearfix {
	display: none;
}

/* ==========================================================================
   Section Conditions
   ========================================================================== */
#section4 .container {
  padding: 0 20px; }

#configuration-message {
  position: relative;
  width: 90%;
  border-radius: 6px;
	padding: 10px;
	margin: 20px auto; }
  #configuration-message div {
    font-size: 20px;
    line-height: 1em;
    font-weight: bold; }
    #configuration-message div img {
      position: relative;
      left: 10px;
      width: 25px; }
  #configuration-message.positive {
    border: 6px solid #b9d300; }
    #configuration-message.positive #pos {
      display: inline-block; }
    #configuration-message.positive #neg {
      display: none; }
    #configuration-message.positive .warning {
      display: block; }
  #configuration-message.negative {
    border: 6px solid #ed1c24; }
    #configuration-message.negative #neg {
      display: inline-block; }
    #configuration-message.negative #pos {
      display: none; }
  #configuration-message .conditional {
    position: relative;
    display: inline-block;
    right: -20px; }
    #configuration-message .conditional.true {
      top: 1px; }
    #configuration-message .conditional.false {
      top: 6px; }
  #configuration-message .warning {
    display: none;
    color: #000;
    font-size: 0.75em;
    line-height: 1.6em;
    display: block;
    margin-top: 12px;
    width: 90%; }

.conditions {
  width: 100%;
  border: 2px solid #000;
  border-radius: 6px;
  float: left;
  overflow: hidden; }
  .conditions .row {
    height: 40px;
    line-height: 40px;
    position: relative; 
    width: 100%; 
  	display: table; }
  .conditions .conditions-label {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000; }
  .conditions#fc1 {
    margin: 20px 0; }
  .conditions #fixed-conditions {
    max-height: 0;
    overflow: hidden;
    padding: 20px 30px; }
    .conditions #fixed-conditions.open {
      max-height: 300px;
      overflow: visible; }
      .conditions #fixed-conditions.open ul {
        opacity: 1; }
    .conditions #fixed-conditions ul {
      text-align: left;
      padding: 20px 50px;
      opacity: 0; }

div.cell {
  width: 25%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
  display: table-cell;
  line-height: 18px; }

#result-data-container {
  overflow: hidden;
  border: 1px solid #ececec;
  border-radius: 6px; }

.result-data {
  height: 30px;
  line-height: 30px; }
  .result-data:last-child {
    margin: 0; }
  .result-data .cell {
    text-align: center; }
    .result-data .cell:last-child {
      border-right: none; }

#firstConditionalRow, #conditionalRepeat\:1\:conditionalRow, #conditionalRepeat\:2\:conditionalRow, #conditionalRepeat\:3\:conditionalRow, #conditionalRepeat\:4\:conditionalRow, #conditionalRepeat\:5\:conditionalRow {
  font-weight: bold; }

#footnote {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 3%;
  position: relative;
  top: 15px;
  float: left; }

.divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: #ececec;
  clear: both; }

#result-help {
  position: relative;
  float: right;
  top: 20px;
  font-size: 14px;
  color: #000; }



#language-dropdown,
#section1,
#section2,
#section3,
.change-message,
.white-popup,
#footer,
.bio-icon.help,
#section4 .report{
	display: none;
}

#print-report, #print-btn {
	display: none;
}

.print-only{
	display: block;
}

sup {
	vertical-align: super;
	font-size: smaller;
}
#report-title{
	font-size: 20px;
	font-weight: bold;
}
.summary-row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px; }
#patient-details{
	height: 60px;
	/*background: #eaeaea;*/
	border: 2px solid #000;
	border-radius: 6px;
	margin-bottom: 20px;
	padding: 10px 0;
}
#patient-details > div{float: left;}
#patient-details .patient-label{
	width: 10%;
	font-weight: bold;
	padding: 0 20px;
}
#patient-name, #patient-dob{
	padding: 3px 20px;
}
#patient-name-value, #patient-dob-value{font-size: 20px;}
.p-label{
	float: left;
	margin-right: 20px;
}
#patient-name{width: 60%;}
#patient-dob{width: 40%;}

#input-summary {
  width: 100%;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 6px;
  display: table; }
  #input-summary > div {
    display: table-cell; }


.summary-input{padding: 10px 20px;}
.summary-input .value{display: block; padding: 5px 0; word-break: break-all; font-size: 10px;}

#summary-country, #summary-device {
  width: 30%;
  border-right: 1px solid #000; }

#summary-leads {
  width: 40%; }

.summary-label {
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #000; }

#signature-wrap{
	width: 100%;
	text-align: left;
}

#signature-wrap.on {display: block;}
#signature-wrap.off {display: none;}
#signature-wrap > div{
	width: 70%;
	float: right;
}
.small-print{
	font-size: 10px;
	padding: 5px 20px;
}
#signature-field{
	/*background: #e0e1e3;*/
	padding: 10px 20px 0;
	height: 90px;
/*	border: 2px solid #000;
	border-radius: 6px;*/
	border-bottom: 2px dotted #000;
}
#signature-label{
	width: 80%;
	float: left;
}

/* new IDs for duplicate usage of #result-category*/
#firstConditionalRow {
  color: #000;
  height: auto;
  padding: 0;
  overflow: hidden;
  font-size: 10px;
  line-height: 24px; }
  #firstConditionalRow div.cell {
    white-space: normal;
    padding: 14px 8px; 
	border-right: 1px solid #000;
  }
#firstConditionalRow div.cell:last-child{border: none;}
    
#conditionalRepeat\:1\:conditionalRow, #conditionalRepeat\:2\:conditionalRow, #conditionalRepeat\:3\:conditionalRow, #conditionalRepeat\:4\:conditionalRow, #conditionalRepeat\:5\:conditionalRow {
  color: #000;
  height: auto;
  padding: 0;
  overflow: hidden;
  font-size: 10px;
  line-height: 24px; }
  #conditionalRepeat\:1\:conditionalRow div.cell, #conditionalRepeat\:2\:conditionalRow div.cell, #conditionalRepeat\:3\:conditionalRow div.cell, #conditionalRepeat\:4\:conditionalRow div.cell, #conditionalRepeat\:5\:conditionalRow div.cell {
    white-space: normal;
    padding: 14px 8px; 
	border-right: 1px solid #000;
  }
#conditionalRepeat\:1\:conditionalRow div.cell:last-child, #conditionalRepeat\:2\:conditionalRow div.cell:last-child, #conditionalRepeat\:3\:conditionalRow div.cell:last-child, #conditionalRepeat\:4\:conditionalRow div.cell:last-child, #conditionalRepeat\:5\:conditionalRow div.cell:last-child{border: none;}

/*
#result-category {
  color: #000;
  height: auto;
  padding: 0;
  overflow: hidden;
  line-height: 24px; }
  #result-category div.cell {
    white-space: normal;
    padding: 14px 8px; 
		border-right: 1px solid #000;
  }
#result-category div.cell:last-child{border: none;}
*/

.result-data .cell{
	border-right: 1px solid #000;
	font-size: 10px;
}

/* for each row, but without the first */
#conditionalRepeat\:1\:conditionalRow.hidden-medium-up{display: none;} 
#conditionalRepeat\:2\:conditionalRow.hidden-medium-up{display: none;}
#conditionalRepeat\:3\:conditionalRow.hidden-medium-up{display: none;} 
#conditionalRepeat\:4\:conditionalRow.hidden-medium-up{display: none;} 
#conditionalRepeat\:5\:conditionalRow.hidden-medium-up{display: none;}  
