/* ==========================================================================
   Reset
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* ==========================================================================
   General
   ========================================================================== */
html {
  height: 100%; }

body {
  height: 100%;
  overflow-y: scroll;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #000;
  margin: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.clearfix {
  display: block; }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.hidden-medium-up {
  display: none; }

a {
  color: #000;
  text-decoration: none; }
a:hover {
  text-decoration: underline; }
#warning2 {
  color: #002C5A;
  text-decoration: underline; }
  
.linkedText {
	color: #002C5A;
  	text-decoration: underline;
}

/* ==========================================================================
   Sections setup
   ========================================================================== */
#main-wrap {
  height: 100%;
  min-height: 700px; }

.container {
  position: relative;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 38px 0; }

.section {
  display: none;
  position: relative !important;
  left: 0;
  text-align: center;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out; }
  .section.condensed, .section.expanded {
    min-height: 90px; }
  .section.on {
    display: block; }

#section0, #section1 {
  display: block; }

#section0 {
  height: 45%;
  height: calc(55% - 100px);
  min-height: 200px;
  background: #e2e4e5; }
  #section0 .container {
    padding: 0;
    height: initial; }
  #section0.condensed {
    height: 0 !important;
    min-height: 0; }

#section1 {
  height: 40%;
  height: calc(45% - 30px);
  background: #f0f0f0; }
  #section1.expanded {
    height: 300px; }
  #section1.condensed {
    height: 90px;
    min-height: 90px; }

#section2 {
  height: 75%;
  height: calc(100% - 220px); }
  #section2.expanded {
    height: 332px; }
  #section2.condensed {
    height: 90px;
    min-height: 90px; }

#section3 {
  height: 65%;
  height: calc(100% - 310px); }
  #section3.initial {
    min-height: 407px; }
    #section3.initial.triple {
      min-height: 482px; }
  #section3.expanded {
    height: 407px; }
    #section3.expanded.triple {
      height: 482px; }
  #section3.condensed {
    height: 120px;
    min-height: 120px; }
  #section3.condensed.triple {
    height: 150px;
    min-height: 150px; }

#section1:after,
#section2:after,
#section3:after {
  content: '';
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid outset;
  border-width: 18px 34px 0 34px;
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-left: -34px;
  z-index: 10; }

#base {
  width: 100%;
  height: 30px;
  position: relative;
  bottom: 0;
  background: #fff;
  z-index: 5;
  display: block; }
  #base.b3 {
    background: #cad4e2; }

#section1 {
  background: #f0f0f0; }
  #section1:after {
    border-color: #f0f0f0 transparent transparent transparent; }

#section2 {
  background: #fff; }
  #section2:after {
    border-color: #fff transparent transparent transparent; }

#section3 {
  background: #cad4e2; }
  #section3:after {
    border-color: #cad4e2 transparent transparent transparent; }

#section4 {
  overflow: hidden;
  background: #fff;
  padding-bottom: 20px; }

/* ==========================================================================
   Layout classes
   ========================================================================== */
.condensed .container {
  padding: 0; }

.demand, .result {
  font-size: 24px;
  color: #000; }

.demand {
  line-height: 1.4em; }

.question-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 220px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .question-wrap.open {
    opacity: 1; }

.expanded.initial .question-wrap {
  position: absolute;
  height: 230px; }
.expanded.initial.error .question-wrap, .expanded .question-wrap {
  height: 100%;
  position: relative; }

.result-wrap {
  display: none;
  position: relative;
  margin: auto;
  height: 24px;
  line-height: 24px;
  opacity: 0;
  top: 36px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .result-wrap.open {
    opacity: 1; }

.result-label {
  position: absolute;
  left: 60px;
  font-size: 18px;
  color: #7D8D98; }

.result {
  display: inline-block !important;
  margin: 0 20px;
  cursor: pointer;
  max-width: 75%;
  min-width: 20%; /* fixed: country left to center */
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.condensed .question-wrap {
  display: none; }

.expanded .question-wrap,
.expanded .contract,
.condensed .edit,
.condensed .result-wrap {
  display: block; }

/* ==========================================================================
   Icons
   ========================================================================== */
.bio-icon {
  background: url(/spring/javax.faces.resource/images/bio_sprite.png?ln=default&v=3_0);
  width: 26px;
  height: 26px;
  float: left;
  cursor: pointer;
  position: absolute; }
  .bio-icon.toggle-btn {
    top: 36px;
    right: 55px;
    background-position: -70px -3px; }
    .bio-icon.toggle-btn.edit {
      background-position: -101px -3px; }
  .bio-icon.help {
    top: 36px;
    right: 95px;
    background-position: -39px -3px; }
  .bio-icon.fc-toggle {
    top: 14px;
    right: 20px;
    background-position: -101px -3px; }
    .bio-icon.fc-toggle.open {
      background-position: -70px -3px; }

.initial .toggle-btn, .condensed .help {
  display: none; }

.initial .help, #section4 .help {
  right: 55px; }

/* ==========================================================================
   Form & Inputs
   ========================================================================== */
form {
  display: inline; }

input[type="text"] {
  width: 100%;
  outline: none;
  border: 1px solid #b6b6b6;
  text-align: center;
  font-size: 1em;
  height: 60px;
  border-radius: 6px;
  -webkit-appearance: none; }
  input[type="text"]:focus {
    border: 1px solid #b6b6b6; }

.placeholder {
  color: #aaa;
  text-align: center;
  width: 100%; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

ul.fake-suggest {
  display: none;
  position: absolute;
  top: 65px;
  max-height: 160px;
  overflow: auto;
  list-style: none;
  outline: none;
  width: 100%;
  background: #FFF;
  z-index: 50;
  border: 1px solid #b6b6b6;
  border-radius: 6px; }
  ul.fake-suggest.open {
    display: block; }
  ul.fake-suggest li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ececec;
    cursor: pointer; }
    ul.fake-suggest li:last-child {
      border: none; }
    ul.fake-suggest li:hover {
      background: #e0e0e0; }

button.btn {
  width: 138px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  background: #cee04c;
  color: #00234c;
  display: block;
  font-size: 14px;
  
  outline: none;
  border: none;
  border-radius: 6px; }
  button.btn:active {
    outline: 0;
    background-image: none; }
  button.btn.chosen {
    background: #cee04c;
    color: #00234c; }
  button.btn span {
    width: 25px;
    height: 18px;
    background: url(/spring/javax.faces.resource/images/bio_sprite.png?ln=default&v=3_0);
    background-position: -8px -37px;
    display: inline-block;
    position: relative;
    left: 5px;
	top: 3px;
	font-weight: bold;
	text-shadow: none;
    }
   
  button.btn-simple span {
    width: 25px;
    height: 18px;
    background: none !important;
    display: inline-block;
    position: relative;
    left: 15px;
	top: 0px;
	font-weight: bold;
	text-shadow: none;
    }  
    
  button.btn.chosen span {
    background-position: -4px -7px; }

.input-wrap {
  width: 80%;
  max-width: 650px;
  margin: 50px auto 30px;
  position: relative; }
  .input-wrap.error.unconditional {
    visibility: visible;
    opacity: 1; }

#section3 .input-wrap {
  display: none;
  width: 80%;
  margin: 0 0 15px; }
  #section3 .input-wrap:first-child {
    margin-top: 50px; }
  #section3 .input-wrap.active {
    display: inline-block; }

#section3 .input-wrap:last-child, #section3 #lead2 {
  display: none; }
#section3 .question-wrap {
  height: 332px; }
#section3.triple .input-wrap:last-child, #section3.triple #lead2 {
  display: inline-block; }
#section3.triple .question-wrap {
  height: 407px; }
#section3.error .question-wrap {
  height: 100%; }
#section3 button.btn {
  margin-top: 15px; }

/* ==========================================================================
   Errors
   ========================================================================== */
.input-wrap.error input[type="text"] {
  border: 2px solid #ed1c24; }

.input-wrap.error .conditional {
  display: block; }

.conditional {
  display: none;
  position: absolute;
  background: url(/spring/javax.faces.resource/images/bio_sprite.png?ln=default&v=3_0); }
  .conditional.true {
    display: block;
    width: 36px;
    height: 32px;
    top: 12px;
    right: 12px;
    background-position: -43px -43px; }
  .conditional.false {
    display: block;
    width: 32px;
    height: 32px;
    top: 12px;
    right: 12px;
    background-position: -100px -43px; }

.error-message {
  display: none;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 0 20px;
  bottom: 0px;
  left: 0; }
  .error-message .reason {
    color: #ed1c24; }
  .error-message .warning {
    color: #898989;
    font-size: 0.75em;
    line-height: 1.6em;
    display: block;
    margin-top: 12px; }

.section.error {
  height: auto !important; }
  .section.error .error-message {
    display: block; }
  .section.error .report {
    display: block; }
  .section.error .question-wrap {
    height: 100%; }

.section.expanded.error .toggle-btn {
  display: none; }

.section.initial.error .question-wrap {
  position: relative; }
.section.initial.error .toggle-btn {
  display: none; }

#main-wrap.error #section4 {
  display: block; }
#main-wrap.error #firstConditionalRow, #main-wrap.error #conditionalRepeat\:1\:conditionalRow, #main-wrap.error #conditionalRepeat\:2\:conditionalRow, #main-wrap.error #conditionalRepeat\:3\:conditionalRow, #main-wrap.error #conditionalRepeat\:4\:conditionalRow, #main-wrap.error #conditionalRepeat\:5\:conditionalRow, #main-wrap.error .result-data, #main-wrap.error .divider, #main-wrap.error #footnote {
  display: none; }
#main-wrap.error01 #section2, #main-wrap.error01 #section3 {
  display: none !important; }
#main-wrap.error01 #section4 {
  border-top: none !important; }
#main-wrap.error02 #section2:after {
  content: '';
  width: 68px;
  height: 18px;
  background-image: url(/spring/javax.faces.resource/images/bio_retina_sprite.png?ln=default&v=3_0);
  background-position: -6px -132px;
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-left: -34px;
  border: none;
  background-color: #fff; }
  
#main-wrap.success02 #section2:after {
  content: '';
  width: 68px;
  height: 18px;
  background-image: url(/spring/javax.faces.resource/images/bio_retina_sprite.png?ln=default&v=3_0);
  background-position: -6px -132px;
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-left: -34px;
  border: none;
  background-color: #fff; }

#main-wrap.success02 #section4 {
  border-top: 1px solid #dbdbdb; }
  
  
#main-wrap.error02 #section3 {
  display: none !important; }
#main-wrap.error02 #section4 {
  border-top: 1px solid #dbdbdb; }
#main-wrap.error03 #section4 {
  display: block; }

/* ==========================================================================
   Header
   ========================================================================== */
#header {
  width: 100%;
  height: 100px;
  background: #fff; }

#biotronik-logo img {
  width: 190px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 40px;
  border: none;
  outline: none; }

/* ==========================================================================
   Section intro
   ========================================================================== */
#section0 {
  background: url(/spring/javax.faces.resource/images/header.jpg?ln=default&v=3_0);
  background-position: 50% 100%; }

#intro {
  height: 100%;
  position: relative;
  display: block; }

#intro-wrap {
  position: relative;
  top: 15%;
  width: 70%;
  max-width: 900px;
  margin: 0 auto; }

#intro-title {
  font-size: 36px;
  line-height: 1.4em;
  padding: 0 0 30px 0; }
  #intro-title span {
    font-size: 24px;
    vertical-align: top; }

.condensed #intro-wrap {
  display: none; }

/* ==========================================================================
   Section Conditions
   ========================================================================== */
#section4 .container {
  padding: 50px 60px; }

#configuration-message {
  position: relative;
  width: 100%;
  border-radius: 6px;
  padding: 30px 10px;
  margin: 36px 0; }
  #configuration-message div {
    font-size: 24px;
    line-height: 1.4em;
    font-weight: bold; }
  #configuration-message.positive {
    border: 4px solid #b9d300; }
    #configuration-message.positive #pos {
      display: inline-block; }
    #configuration-message.positive #neg {
      display: none; }
    #configuration-message.positive .warning {
      display: block; }
  #configuration-message.negative {
    border: 4px solid #ed1c24; }
    #configuration-message.negative #neg {
      display: inline-block; }
    #configuration-message.negative #pos {
      display: none; }
  #configuration-message .conditional {
    position: relative;
    display: inline-block;
    right: -20px; }
    #configuration-message .conditional.true {
      top: 1px; }
    #configuration-message .conditional.false {
      top: 6px; }
  #configuration-message .warning {
    display: none;
    color: #898989;
    font-size: 0.75em;
    line-height: 1.6em;
    display: block;
    margin-top: 12px;
    width: 90%; }
   #configuration-message .bigwarning {
    display: none;
    color: #898989;
    font-size: 1.0em;
    line-height: 1.6em;
    display: block;
    margin-top: 12px;
    width: 90%; }
    

.conditions {
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 6px;
  float: left; }
  .conditions .row {
    height: 54px;
    line-height: 54px;
    position: relative; }
  .conditions .conditions-label {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: #f7f7f7;
    border-bottom: 1px solid #ececec; }
  .conditions#fc1 {
    margin: 36px 0 10px 0; 
    margin: 10px 0; }
  .conditions #fixed-conditions{
    max-height: 0;
    overflow: hidden;
    padding: 20px 30px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .conditions #fixed-conditions.open
      {
      max-height: 900px;
      overflow: visible; }
      .conditions #fixed-conditions.open ul
      {
        opacity: 1; }
    .conditions #fixed-conditions ul
     {
      text-align: left;
      padding: 20px 50px;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease-in;
      -moz-transition: opacity 0.3s ease-in;
      -o-transition: opacity 0.3s ease-in;
      transition: opacity 0.3s ease-in;
      transition-delay: 0.3s; }

div.cell {
  width: 25%;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

#result-data-container {
  overflow: hidden;
  border: 1px solid #ececec;
  border-radius: 6px; }

.result-data {
  background: #f7f7f7;
  margin-bottom: 10px; }
  .result-data:last-child {
    margin: 0; }
  .result-data .cell {
    text-align: center;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in; }
    .result-data .cell span {
      font-weight: bold; }
    .result-data .cell:last-child {
      border-right: none; }
    .result-data .cell.changed {
      background: #cee04c;
      background: rgba(206, 224, 76, 0.9); }

/* new IDs for duplicate usage of #result-category*/
#firstConditionalRow {
  color: #898989;
  height: auto;
  padding: 14px 0;
  overflow: hidden;
  line-height: 24px; }
  #firstConditionalRow div.cell {
    white-space: normal;
    padding: 0 8px; }
    
#conditionalRepeat\:1\:conditionalRow, #conditionalRepeat\:2\:conditionalRow, #conditionalRepeat\:3\:conditionalRow, #conditionalRepeat\:4\:conditionalRow, #conditionalRepeat\:5\:conditionalRow  {
  color: #898989;
  height: auto;
  padding: 14px 0;
  overflow: hidden;
  line-height: 24px; }
  #conditionalRepeat\:1\:conditionalRow  div.cell, #conditionalRepeat\:2\:conditionalRow  div.cell, #conditionalRepeat\:3\:conditionalRow  div.cell, #conditionalRepeat\:4\:conditionalRow  div.cell, #conditionalRepeat\:5\:conditionalRow  div.cell {
    white-space: normal;
    padding: 0 8px; }

/*
#result-category {
  color: #898989;
  height: auto;
  padding: 14px 0;
  overflow: hidden;
  line-height: 24px; }
  #result-category div.cell {
    white-space: normal;
    padding: 0 8px; }

*/

#footnote {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 3%;
  position: relative;
  top: 15px;
  float: left; }

.report {
  display: none;
  width: 100%;
  float: left;
  padding: 30px 0 0; }
  .report a {
    width: 150px;
    height: 60px;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    position: relative;
    border-right: 1px solid #bebebe;
    cursor: pointer; }
    .report a:last-child {
      border: none; }
    .report a .report-icon {
      margin: 0 auto;
      height: 28px;
      background: url(/spring/javax.faces.resource/images/bio_sprite.png?ln=default&v=3_0); }
      .report a .report-icon.share-link {
        background-position: -5px -86px;
        width: 34px; }
      .report a .report-icon.world-link {
        background-position: -44px -88px;
        width: 34px; }
      .report a .report-icon.restart {
        background-position: -91px -86px;
        width: 30px; }
      .report a .report-icon.more-info {
        background-position: -137px -87px;
        width: 15px; }
    .report a span {
      font-size: 0.75em;
      color: #898989;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; }
    .report a:hover span {
      text-decoration: underline; }

#section4 .report {
  display: block;
  padding: 30px 0; }

.divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: #ececec;
  clear: both; }

#result-help {
  position: relative;
  float: right;
  top: 20px;
  font-size: 14px;
  color: #000; }

/* ==========================================================================
   Footer
   ========================================================================== */
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #3d4a53;
  color: #fff;
  font-size: 10px;
  line-height: 44px;
  z-index: -1; }
  #footer .inner {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 0; }
    #footer .inner a {
      color: #fff; }

/* ==========================================================================
   Popups
   ========================================================================== */
.white-popup {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 960px;
  margin: 20px auto;
  font-size: 14px;
  line-height: 1.6em;
  overflow: hidden;
  color: #000;
  border-radius: 6px; }

.popup-header {
  font-size: 24px;
  color: #fff;
  background: #587992;
  height: 80px;
  line-height: 80px;
  padding-left: 50px; }

.popup-content {
  padding: 20px 50px 30px; }

.white-popup img {
  width: 100%; }
.white-popup .contact {
  margin: 10px 0; }
.white-popup a {
  color: #00A2C1; }
.white-popup ul {
  list-style-position: outside;
  padding-left: 15px; }

.popup-heading {
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
  font-size: 18px; }

.white-popup p, .white-popup ul {
  margin-bottom: 20px; }

.mfp-preloader {
  display: none; }

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-close {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close {
  width: 26px;
  height: 26px;
  line-height: 44px;
  position: absolute;
  font-size: 0;
  overflow: visible;
  cursor: pointer;
  background: url(/spring/javax.faces.resource/images/bio_sprite.png?ln=default&v=3_0);
  background-position: -132px -3px;
  right: 20px;
  top: 26px;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8; }
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0; }
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.change-message {
  width: 360px;
  height: 50px;
  position: fixed;
  top: -50px;
  left: 50%;
  margin-left: -180px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  background: #cee04c;
  background: rgba(206, 224, 76, 0.9);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 20;
  -webkit-transition: top 0.3s ease-in;
  -moz-transition: top 0.3s ease-in;
  -o-transition: top 0.3s ease-in;
  transition: top 0.3s ease-in; }
  .change-message.open {
    top: 0; }
    
.print-only {
  display: none; }

#print-report {
  width: 100%;
  float: left;
  margin: 50px 0; }
  #print-report #print-btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #cee04c;
    border-radius: 6px;
    margin: 0 auto;
    padding: 0 36px;
    cursor: pointer; }
    #print-report #print-btn .printer-icon {
      width: 26px;
      height: 26px;
      background: url(/spring/javax.faces.resource/images/bio_sprite.png?ln=default&v=3_0);
      background-position: -137px -47px;
      position: relative;
      top: 11px;
      margin-right: 14px;
      float: left;
      cursor: pointer; }
  #print-report #print-options {
    height: 0;
    opacity: 0;
    color: #555;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    #print-report #print-options.open {
      height: 100px;
      opacity: 1; }
    #print-report #print-options #print-question {
      padding: 20px 0; }
      #print-report #print-options #print-question a {
        color: #717171;
        border: 1px solid #717171;
        border-radius: 50%;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-left: 10px;
        text-decoration: none;
        outline: none; }
    #print-report #print-options .sign-btn {
      line-height: 34px;
      width: 48px;
      border: 1px solid #c2c2c2;
      border-radius: 4px;
      display: inline-block;
      margin: 0 8px;
      cursor: pointer; }
  
#language-dropdown {
  position: relative;
  width: 210px;
  left: 60px;
  padding: 0;
  z-index: 100;
  outline: none;
  cursor: pointer;
  font-size: 14px; }
  #language-dropdown .selected .country-code {
    font-weight: bold;
    float: right;
    margin-right: 35px; }
  #language-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #000; }
  #language-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    list-style: none;
    font-weight: normal;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    border: 1px solid #000; }
    #language-dropdown .dropdown li {
      display: block;
      text-decoration: none;
      color: #9e9e9e;
      padding: 5px 15px; }
      #language-dropdown .dropdown li span.country-code {
        float: right;
        font-weight: bold; }
    #language-dropdown .dropdown li:hover {
      color: #000; }
  #language-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto; }
  #language-dropdown.active:after {
    border-color: #000 transparent;
    border-width: 6px 6px 0 6px;
    margin-top: -3px; }
 .langLink {
  display:block;
 }
/* ==========================================================================
   Tablets
   ========================================================================== */
@media (max-width: 1200px) {
  #header {
    height: 80px; }

  #biotronik-logo {
    top: 20px; }

  #intro-wrap {
    top: 15%; }

  #section0 {
    height: calc(55% - 80px); }

  #section1 {
    height: calc(45% - 30px); }

  #section2 {
    height: calc(100% - 200px); }

  #section3 {
    height: calc(100% - 290px); } }
/* ==========================================================================
   Phones
   ========================================================================== */
@media (max-width: 768px) {
  .hidden-medium-up {
    display: block; }

  .hidden-phone {
    display: none !important; }

  #header {
    width: 100%;
    height: 50px;
    min-height: 50px;
    min-height: 50px;
    background: #FFF;
    top: 0;
    z-index: 50; }
    #header .container {
      height: 50px;
      padding: 0; }
      
  .section.off {
    opacity: 0.2; }

   #language-dropdown {
    width: 100%;
    left: 0;
    padding: 0 20px;
    font-size: 16px; }
    #language-dropdown:after {
      left: 70px;
      margin-top: -8px;
      border-width: 8px 0 8px 8px; }
    #language-dropdown.active:after {
      border-width: 8px 8px 0 8px;
      margin-top: -4px; }
    #language-dropdown > span.selected {
      display: block;
      font-size: 20px;
      height: 50px;
      line-height: 50px; }
      #language-dropdown > span.selected .lang-label, #language-dropdown > span.selected .language {
        display: none; }
      #language-dropdown > span.selected .country-code {
        float: left; }
    #language-dropdown .dropdown {
      background-color: #e5e5e5;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #b6b6b6; }
      #language-dropdown .dropdown li {
        color: #5e5e5e; }

  #biotronik-logo img {
    width: 150px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 15px; }

  #main-wrap {
    min-height: 100%; }

  #intro {
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }

  #intro-wrap {
    top: 0; }

  #intro-title {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0; }

  .section {
    min-height: 50px;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .section.condensed {
      min-height: 50px;
      height: 50px; }
    .section.error {
      min-height: 390px; }
      .section.error .question-wrap {
        min-height: 320px; }

  .condensed .container {
    padding: 0 20px; }

  #section0 {
    height: auto;
    min-height: calc(40% - 45px);
    background: url(/spring/javax.faces.resource/images/m_header.jpg?ln=default&v=3_0);
    background-size: cover; }

  #section1 {
    height: auto; }
    #section1.initial {
      min-height: calc(60% - 25px); }

  #section2 {
    height: auto; }
    #section2.initial {
      min-height: calc(100% - 120px); }

  #section3 {
    height: auto; }
    #section3.initial, #section3.initial.triple {
      min-height: calc(100% - 170px); }
    #section3.triple .input-wrap:last-child, #section3.triple #lead2 {
      display: block; }
    #section3.triple .question-wrap {
      height: auto; }
    #section3.condensed {
      height: 75px;
      min-height: 75px; }
    #section3.condensed.triple {
      height: 110px;
      min-height: 110px; }
    #section3 .result-wrap {
      top: 14px; }
    #section3 .result {
      display: block !important;
      margin: 0 auto; }
    #section3 button.btn {
      margin-top: 0; }
    #section3 .question-wrap {
      height: auto; }

  #section1:after,
  #section2:after,
  #section3:after {
    border-width: 10px 20px 0 20px;
    bottom: -10px;
    margin-left: -20px; }

  #section1.expanded,
  #section2.expanded,
  #section3.expanded {
    min-height: 250px; }

  #section1.condensed, #section2.condensed {
    height: 50px;
    min-height: 50px; }

  .container {
    height: auto;
    padding: 50px 20px 30px; }

  .question-wrap, .expanded.initial .question-wrap {
    position: relative;
    height: auto; }

  .input-wrap {
    width: 100%;
    margin: 15px auto; }

  #section3 .input-wrap {
    width: 100%;
    margin: 0 auto 15px; }

  #section3 .input-wrap:first-child {
    margin-top: 15px; }

  #base {
    height: 20px; }

  input[type="text"] {
    height: 50px; }

  .conditional.true {
    top: 9px; }
  .conditional.false {
    top: 9px; }

  ul.fake-suggest {
    top: 55px; }

  .demand, .result {
    font-size: 1em; }

  .bio-icon.toggle-btn {
    top: 14px;
    right: 20px; }
  .bio-icon.help {
    top: 14px;
    right: 55px; }
  .bio-icon.fc-toggle {
    top: 4px; }

  .initial .help {
    right: 20px; }

  .result-wrap {
    height: 24px;
    line-height: 24px;
    top: 16px; }
    .result-wrap .result {
      max-width: 100%;
      margin: 0 auto; }

  #footer {
    height: 50px; }

  .popup-content {
    padding: 20px; }

  .popup-header {
    font-size: 18px;
    padding-left: 20px;
    height: 60px;
    line-height: 60px; }

  button.mfp-close {
    top: 16px; }

  #section4 .container {
    padding: 20px; }
    #section4 .container .help {
      right: 20px; }

  #configuration-message {
    padding: 15px 20px;
    text-align: left;
    margin: 36px 0 0; }

  .conditions {
    margin: 20px 0 0 !important; }
    .conditions .row {
      height: auto;
      line-height: 24px;
      overflow: hidden; }
      .conditions .row .hidden-medium-up {
        border-top: 1px solid #ececec; }
    .conditions .conditions-label {
      height: 36px;
      line-height: 36px; }
    .conditions #firstConditionalRow, .conditions #conditionalRepeat\:1\:conditionalRow,.conditions #conditionalRepeat\:2\:conditionalRow,.conditions #conditionalRepeat\:3\:conditionalRow,.conditions #conditionalRepeat\:4\:conditionalRow,.conditions #conditionalRepeat\:5\:conditionalRow, .conditions .result-data {
      width: 50%;
      padding: 10px;
      float: left;
      background: #fff; }
      .conditions #firstConditionalRow .cell, .conditions #conditionalRepeat\:1\:conditionalRow .cell, .conditions #conditionalRepeat\:2\:conditionalRow .cell, .conditions #conditionalRepeat\:3\:conditionalRow .cell, .conditions #conditionalRepeat\:4\:conditionalRow .cell,.conditions #conditionalRepeat\:5\:conditionalRow .cell, .conditions .result-data .cell {
        width: 100%;
        text-align: left; 
        padding: 0; 
        white-space: nowrap; }
    .conditions #fixed-conditions {
      padding: 0; }
      .conditions #fixed-conditions ul  {
        padding: 15px 15px 15px 30px; }
      .conditions #fixed-conditions.open {
        max-height: 900px; 
        padding: 10px; }

  #footnote {
    padding-left: 0; }

  #mobile-report {
    position: fixed;
    opacity: 0;
    bottom: -80px;
    -webkit-transition: bottom 0.3s ease-in;
    -moz-transition: bottom 0.3s ease-in;
    -o-transition: bottom 0.3s ease-in;
    transition: bottom 0.3s ease-in;
    background: #f0f0f0;
    padding: 15px 0;
    z-index: 50;
    border-top: 1px solid #dadada; }
    #mobile-report a {
      width: 25%;
      height: 30px;
      float: left;
      margin: 0; }

  body.report-up #mobile-report {
    opacity: 1;
    bottom: 0; }

  #warning {
    width: 100%; } 
    
  #print-report {
    display: none; }

  #print-text {
    padding: 15px 0;
    color: #898989; } 
    
} 
    
    
/* ==========================================================================
   Hi-Resolution Logo & Icons
   ========================================================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .bio-icon,
  .report a .report-icon,
  .conditional {
    background: url(/spring/javax.faces.resource/images/bio_retina_sprite.png?ln=default&v=3_0);
    background-size: 165px 125px; }

  button.btn span {
    background: url(/spring/javax.faces.resource/images/bio_retina_sprite.png?ln=default&v=3_0);
    background-position: -5px -37px;
    background-size: 165px 125px; }
  button.btn.chosen span {
    background-position: -4px -7px; background-size: 165px 125px;}

  button.mfp-close {
    background: url(/spring/javax.faces.resource/images/bio_retina_sprite.png?ln=default&v=3_0);
    background-position: -132px -3px;
    background-size: 165px 125px; } 
    
  #print-report #print-btn .printer-icon {
    width: 26px;
    height: 26px;
    background: url(/spring/javax.faces.resource/images/bio_retina_sprite.png?ln=default&v=3_0);
    background-position: -137px -47px;
    background-size: 165px 125px;
    position: relative;
    top: 11px;
    margin-right: 14px; }  
    
    }

  
 /* ============== */
 /* Added autocomplete */
ul.ui-autocomplete {
  display: none;
  position: absolute;
  top: 65px;
  max-height: 160px !important;
  overflow: auto;
  list-style: none;
  outline: none;
  width: 100% !important;
  background: #FFF;
  z-index: 50;
  border: 1px solid #b6b6b6 !important;
  border-radius: 6px; }
  ul.ui-autocomplete.open {
    display: block; }
  ul.ui-autocomplete li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ececec;
    cursor: pointer; }
    ul.ui-autocomplete li:last-child {
      border: none; }
    ul.ui-autocomplete li:hover {
      background: #e0e0e0; }

    .ui-menu-item .ui-front .ui-widget {
        width: 650px;
    }

.ui-autocomplete {
	 width: 100% !important;
}

.ui-inputfield {
	-webkit-box-shadow: none !important; 
	box-shadow: none !important;
	width: 100% !important;
}

.ui-state-default {
	box-shadow: none !important;
	-webkit-box-shadow: none !important; 
	font-weight: normal !important;
	
}

.ui-state-highlight {
	background: #e0e0e0 !important;
	text-shadow: none !important;
	color: #000000 !important;
}

.ui-autocomplete-list-item {
	padding: 10px 0px !important;
	text-align: center !important;
	border-bottom: 0px solid #ececec !important;
}

.ui-widget-content {
	padding-top: 5px;
	border: 1px solid #b6b6b6;
	box-shadow: none !important;
	border-radius: 6px !important;
}

.ui-button {
  	font-weight: normal !important;
	width: 138px !important;
	height: 50px !important;
	margin: 0 auto !important;
	cursor: pointer !important;
	display: block !important;
	font-size: 14px !important;
	outline: none !important;
	border: none !important;
	border-radius: 6px !important;
}

.ui-button-text {
	padding: .1em 1em .3em 2.1em !important;
}

.ui-button-text {
	margin: 0 0 5px 10px;
	padding-left: 10px;
}

.ui-icon
{
	background-image: none !important;
	display: none;
}

.ui-state-focus {
	font-weight: normal !important;
}

#conditionalResultFragment .ui-widget {
    font-family: inherit !important;
    font-size: 1.0em !important;
}

/* disable IE clear icon of input fields */
::-ms-clear
{
    display: none !important;
}

/* default placeholder color in IE is black - set to gray */
input:-ms-input-placeholder 
{
	color: #aaa !important;
}
  